
body{background:#fff;font-family:monospace;margin:1em;font-size:10px}
div{font-size:1.2em}
h1{margin-top:0}
textarea{font-family:monospace}
table{border-collapse:collapse;box-shadow:0.1em 0.1em 0.5em #999;display:table}
thead{display:table-header-group}
tbody{display:table-row-group}
thead th{background:#ddc}
tbody td[class="numb"]{text-align:right}
tbody tr:hover{background:#ffa}
tr{display:table-row}
th,
td{border-width:0.1em;border-style:solid;display:table-cell;min-width:3em;padding:0.2em 0.4em;white-space:pre}

li span{color:#070;font-weight:bold}
#errors span{color: #c00}
tr[class="header"] th{background:#ddd;text-align:left}
tr[class="markdown"] td,
tr[class="markdown"] th{border-color: #000;color:#333}
tr[class="markdown odd"]{background: #e8e8e8}
tr[class="markdown even"]{background: #f8f8f8}
tr[class="markup"] td,
tr[class="markup"] th{border-color: #933;color:#600}
tr[class="markup odd"]{background: #fee}
tr[class="markup even"]{background: #fdd}
tr[class="script"] td,
tr[class="script"] th{border-color: #060;color:#040}
tr[class="script odd"]{background: #eefff8}
tr[class="script even"]{background: #ded}
tr[class="style"] td,
tr[class="style"] th{border-color: #66f;color:#009}
tr[class="style odd"]{background: #eef8ff}
tr[class="style even"]{background: #ddeeff}
ul[class="key"] li{white-space:pre}
ul[class="key"] li[class="markdown"]{background:#e8e8e8;color:#000}
ul[class="key"] li[class="markup"]{background:#fee;color:#600}
ul[class="key"] li[class="script"]{background:#eefff8;color:#040}
ul[class="key"] li[class="style"]{background:#eef8ff;color:#009}
div[class="input"] label{display:block}
div[class="input"] textarea{background:#eee;display:block;height:20em;width:100%;}
