
body{font-family:monospace;margin:1em;font-size:10px}
div{font-size:1.2em}
h1{margin-top:0}
textarea{font-family:monospace}
table{border-collapse:collapse;box-shadow:0.1em 0.1em 0.5em #999;display:table}
thead{display:table-header-group}
tbody{display:table-row-group}
thead th{background:#ddc}
tbody .numb{text-align:right}
tbody tr.odd:hover,
tbody tr.even:hover{background:#ffa}
tr{display:table-row}
th,
td{border-width:0.1em;border-style:solid;display:table-cell;min-width:3em;padding:0.2em 0.4em;white-space:pre}

li span{color:#070;font-weight:bold}
#errors span{color: #c00}
.header th{background:#ddd;text-align:left}
.markup td,
.markup th{border-color: #933;color:#600}
.markup.odd{background: #fee}
.markup.even{background: #fdd}
.style td,
.style th{border-color: #66f;color:#009}
.style.odd{background: #eef8ff}
.style.even{background: #ddeeff}
.script td,
.script th{border-color: #060;color:#040}
.script.odd{background: #eefff8}
.script.even{background: #ded}
.key li{white-space:pre}
.key .markup{background:#fee;color:#600}
.key .script{background:#eefff8;color:#040}
.key .style{background:#eef8ff;color:#009}
.input label{display:block}
.input textarea{background:#eee;display:block;height:20em;width:100%;}
